.App {
  min-height: 100vh;
  background: linear-gradient(135deg, #4600D9, #5E009B, #720137, #59005A, #42002E);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 0.5s ease forwards;
}

.movie:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-poster {
  width: 100%;
  height: 300px;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c3c6d;
  border-radius: 4px;
}

.movie-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.movie-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc;
}

.movie-details p.rating {
  font-weight: bold;
  color: #ffcc00;
}

.movie-details p.plot {
  text-align: left;
  max-height: 100px;
  overflow-y: auto;
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search input[type="text"] {
  width: 40%;
  min-width: 170px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search input[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search input[type="submit"]:hover {
  background-color: #0056b3;
}